<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<flutterwavepayment>
				<active>1</active>
				<model>Flutterwave\Payments\Model\Payment\FlutterwavePayment</model>
				<order_status>pending</order_status>
				<title>Flutterwave Payment Gateway</title>
				<allowspecific>0</allowspecific>
				<group>Offline</group>
			</flutterwavepayment>
		</payment>
	</default>
</config>